@import './node_modules/materialize-css/sass/materialize.scss';

.modal.modal-fixed-footer {
    top: 1% !important;
    height: 98%;
    max-height: 100%;
}

.modal.modal-fixed-footer .modal-content {
    overflow-y: hidden;
}

.image-in-modal {
    height: 100%;
}
